:root {
    --primary-color: #FF0000;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: #eee;
}

.sidebar {
    flex: 0;
    min-width: 400px;
    padding: 32px;
    background-image: linear-gradient(var(--primary-color), #8b0000);
}

.preview {
    flex: 1;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.logo-wrapper {
    text-align: center;
}

.logo {
    max-width: 128px;
}

h1 {
    margin: 32px 0 16px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
}

select {
    width: 100%;
    margin: 4px 0 12px 0;
    padding: 6px;
    border: solid 1px #000;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
}

input, textarea {
    width: 100%;
    max-width: 100%;
    margin: 4px 0 12px 0;
    padding: 6px;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

button {
    width: 100%;
    margin-top: 24px;
    padding: 8px;
    background-color: transparent;
    border: solid 2px #fff;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    transition: all 200ms;
}

button:hover {
    background-color: #fff;
    color: var(--primary-color);
    cursor: pointer;
}

#signatureWrapper {
    padding: 16px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.15);
    background-color: #fff;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#alert {
    margin-top: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #eee;
}

#hidden {
    display: none;
}